.navRoot{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    width: 100vw;
    padding: 0 20px;
}

.navColumn1{
    display: flex;
    align-items: center;
}

.navColumn2{
    display: flex;
    justify-content: center;
}

.logo{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding: 15px 500px 10px 400px;
}

.navColumn3{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}